[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
newsapi-python = "*"
transformers = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
yfinance = "*"
matplotlib = "*"
pandas = "*"
gnews = "*"
newspaper3k = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
